%li
  %a{:href => edit_user_registration_path}
    %i.fa.fa-user.fa-fw
    User Profile
%li
  %a{:href => "/security/settings"}
    %i.fa.fa-gear.fa-fw
    Settings
%li.divider
%li
  = link_to destroy_user_session_path, :method => :delete do
    %i.fa.fa-sign-out.fa-fw
    Logout