%li
  %a{:href => "/security/profile"}
    %i.fa.fa-user.fa-fw
    User Profile
%li
  %a{:href => "/security/settings"}
    %i.fa.fa-gear.fa-fw
    Settings
%li.divider
%li
  %a{:href => "/security/logout"}
    %i.fa.fa-sign-out.fa-fw
    Logout