%li
  %a{:href => "/"}
    %i.fa.fa-dashboard.fa-fw
    Dashboard
%li
  %a{:href => "/client-uploads"}
    %i.fa.fa-bar-chart-o.fa-fw
    Client uploads    
%li
  %a{:href => "#"}
    %i.fa.fa-bar-chart-o.fa-fw
    Presets
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "/presets"} Presets List
    %li
      %a{:href => "/presets/new"} Add New Preset Item
  / /.nav-second-level
%li
  %a{:href => "/security"}
    %i.fa.fa-user.fa-fw
    Users
    %span.fa.arrow 
  %ul.nav.nav-second-level
    %li
      = link_to "All Users", users_path
    %li
      = link_to "Add User", new_user_path 
  
%li
  %a{:href => "/settings"}
    %i.fa.fa-gear.fa-fw
    Preferences
    %span.fa.arrow  

%li
  %a{:href => "#"}
    %i.fa.fa-files-o.fa-fw
    Sample Pages
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      %a{:href => "blank.html"} Blank Page
    %li
      %a{:href => "login.html"} Login Page
    %li
      %a{:href => "/home/products"}
        %i.fa.fa-dashboard.fa-fw
        Generate API
    %li
      %a{:href => "#"}
        %i.fa.fa-bar-chart-o.fa-fw
        Charts
        %span.fa.arrow
      %ul.nav.nav-second-level
        %li
          %a{:href => "flot.html"} Flot Charts
        %li
          %a{:href => "morris.html"} Morris.js Charts
      / /.nav-second-level
    %li
      %a{:href => "tables.html"}
        %i.fa.fa-table.fa-fw
        Tables
    %li
      %a{:href => "forms.html"}
        %i.fa.fa-edit.fa-fw
        Forms
    %li
      %a{:href => "#"}
        %i.fa.fa-wrench.fa-fw
        UI Elements
        %span.fa.arrow
      %ul.nav.nav-second-level
        %li
          %a{:href => "panels_wells.html"} Panels and Wells
        %li
          %a{:href => "buttons.html"} Buttons
        %li
          %a{:href => "notifications.html"} Notifications
        %li
          %a{:href => "typography.html"} Typography
        %li
          %a{:href => "grid.html"} Grid
        %li
          %a{:href => "#"}
            %i.fa.fa-sitemap.fa-fw
            Multi-Level Dropdown
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              %a{:href => "#"} Second Level Item
            %li
              %a{:href => "#"} Second Level Item
            %li
              %a{:href => "#"}
                Third Level
                %span.fa.arrow
              %ul.nav.nav-third-level
                %li
                  %a{:href => "#"} Third Level Item
                %li
                  %a{:href => "#"} Third Level Item
                %li
                  %a{:href => "#"} Third Level Item
                %li
                  %a{:href => "#"} Third Level Item      
                  